.Home_Table_head {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
}

.Home_Table_head>p {
    border-right: 1px solid black;
    height: 100%;
}